<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>mygoodcanteen - edit menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
         {% load static %}
        <link rel="stylesheet" href="{% static 'canteen/bulma/css/bulma.css' %}" />
        <link href="{% static 'canteen/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/flickity.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/jquery.steps.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'canteen/css/font-frankruhl-firasans.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,700%7CFrank+Ruhl+Libre:300,400" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <a id="start"></a>
        <nav id="menu2" class="bar bar-2 hidden-xs bar--absolute">
                <div class="container">
                    <div class="col-xs-3">
                        <div class="bar__module">
                            <a href="{% url "home_view" %}">Home</a> > <a href="{% url "account" %}">My account</a> > <a href="">Edit menu</a>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="col-md-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm btn--primary type--uppercase" href="{% url "logout" %}">
                                <span class="btn__text">
                                        &nbsp;Log out
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
        </nav>
                <section class="cover imagebg height-20" data-overlay="3">
                    <div class="background-image-holder">
                        <img alt="background" src="{% static 'canteen/img/account.jpg' %}" />
                    </div>
                </section>
            <div class="container">
              <br>
                        {% if menu %} 
                           <p class="h2">
                                {{ menu.restaurant }} | <a href="{% url "menu_view" menu.id %}">Preview menu</a>
                           </p>
                             <p class="h4">
                                Menu name: {{ menu.name }}
                            </p>
                        <form action="/edit-menu/{{ menu.id }}/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="text" name="menuname" placeholder="New menu name" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn--primary type--uppercase" type="submit">Update</button>
                                    </div>
                                </div>
                       </form>
                       <br>
                            <p class="h4">
                                Menu description: {{ menu.info }}
                            </p>
                        <form action="/edit-menu/{{ menu.id }}/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-8">
                                        <textarea rows="1" name="menudes" placeholder="New Menu Description"></textarea>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn--primary type--uppercase" type="submit">Update</button>
                                    </div>
                                </div>
                       </form>
                        {% endif %}
            </div>
            <div class="container">
                <br>
                <p class="h4">
                    Menu dish types:
                </p>
                <div class="field is-grouped is-grouped-multiline">
                    {% for each in dishtype_list %}
                    <span class="tag is-warning is-medium">
                      {{ each }}
                      <a href="/delete-dishtype/{{ menu.id }}/{{ each }}/"><button class="delete is-small"></button></a>
                    </span>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <br>
                      <form action="/add-dishtype/{{ menu.id }}/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="text" name="newtype" placeholder="New dish type" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn--primary type--uppercase" type="submit">Add this type</button>
                                    </div>
                                </div>
                      </form>
            </div>

  <div class="container">
    <div class="column is-narrow"></div>
       {% for each in dish_list %}
           {% if forloop.counter0|divisibleby:2 %}
                <div class="columns">
           {% endif %}
                <div class="column is-half">
                    <div class="box"> 
                          <p class="title is-5"><strong>#{{ each.num }}&nbsp;&nbsp;{{ each.name }}&nbsp;({{ each.dish_type }})</strong></p>
                        <form action="/edit-dish/{{ each.id }}/" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="newname" placeholder="New Dish Name" />
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn--primary type--uppercase" type="submit">Update</button>
                                    </div>
                                </div>
                      </form>
                          <p class="subtitle is-6">
                            <br>
                            Price: &nbsp;${{ each.price }}   
                          </p>
                      <form action="/edit-dish/{{ each.id }}/" method="post"> 
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="newprice" placeholder="New Price" />
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn--primary type--uppercase" type="submit">Update</button>                
                                    </div>
                                </div>
                      </form>
                          <p class="subtitle is-6">
                            <br>
                            Description: &nbsp;{{ each.description }}   
                          </p>
                      <form action="/edit-dish/{{ each.id }}/" method="post"> 
                                {% csrf_token %}
                                <div class="col-sm-12">
                                    <textarea rows="4" name="newdes" placeholder="New Description"></textarea>
                                </div>
                                <div class="col-sm-8">
                                </div>
                                 <div class="col-sm-4">
                                    <button class="btn btn--primary type--uppercase" type="submit">Update</button>                
                                </div>
                     </form>
                          <br><a href="{% url "delete_dish_view" each.id %}">Delete this dish</a>
                    </div>    
                </div>
            {% if not forloop.counter0|divisibleby:2 %}
                </div>
            {% endif %}
       {% endfor %}
  </div> 
<section>
   <div class="container">
    <h3>
     <strong>Add New Dish To My Menu </strong>
    </h3>
          <form action="/add-dish/{{ menu.id }}/" method="post"> 
                    {% csrf_token %}
                    <div class = "row">
                        <div class="col-sm-2">
                            <select name="dropdown">
                                <option value="" disabled="disabled" selected="selected">Dish Type</option>
                                {% for each in dishtype_list %}
                                <option value="{{each}}">{{ each }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class = "row">
                        <div class="col-sm-3">
                            <input type="text" name="dishname" placeholder="New Dish Name" />
                        </div>
                        <div class="col-sm-3">
                            <input type="text" name="dishprice" placeholder="New Dish Price" />
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-sm-6">
                            <textarea rows="2" name="dishdes" placeholder="New Menu Description"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn--primary type--uppercase" type="submit">Submit</button>                
                        </div>
                    </div>

          </form>
    </div>
</section>
            <footer class="space--sm footer-1 text-center-xs bg--dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-inline list--hover">
                            <span class="type--fine-print">Copyright&copy;
                                <span class="update-year"></span> La Luo </span>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://github.com/Rola1993">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/la-luo-637b4a94/ ">
                                        <i class="socicon socicon-linkedin icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                            <a href="mailto:rola.uiuc@gmail.com?Subject=Hello%20La" class="btn type--uppercase">
                                <span class="btn__text">
                                    Contact us
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of container-->
            </footer>
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="{% static 'canteen/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'canteen/js/flickity.min.js' %}"></script>
        <script src="{% static 'canteen/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'canteen/js/parallax.js' %}"></script>
        <script src="{% static 'canteen/js/typed.min.js' %}"></script>
        <script src="{% static 'canteen/js/datepicker.js' %}"></script>
        <script src="{% static 'canteen/js/isotope.min.js' %}"></script>
        <script src="{% static 'canteen/js/ytplayer.min.js' %}"></script>
        <script src="{% static 'canteen/js/lightbox.min.js' %}"></script>
        <script src="{% static 'canteen/js/granim.min.js' %}"></script>
        <script src="{% static 'canteen/js/jquery.steps.min.js' %}"></script>
        <script src="{% static 'canteen/js/countdown.min.js' %}"></script>
        <script src="{% static 'canteen/js/twitterfetcher.min.js' %}"></script>
        <script src="{% static 'canteen/js/spectragram.min.js' %}"></script>
        <script src="{% static 'canteen/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'canteen/js/scripts.js' %}"></script>
 </body>
</html>
    
