<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>Checkout</title>
    </head>

<body>
                          <script src="https://checkout.stripe.com/checkout.js"></script>
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                        <button class="stripe-button-el" id="customButton"><span>Pay with Card</span></button>
<script>


                              var handler = StripeCheckout.configure({
                                key: 'pk_test_IeVp9JEk39LS8IJcRGjm9Ter',
                                image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                                token: function(token) {
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`
                                    $.ajax({
                                        url: 'http://167.99.161.247/charge/{{conversation}}/',
                                        method: 'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify({
                                            "stripeToken" : token.id,
                                            "description" : "Billing",
                                            "amount"      : getUrlParameter('amount'),
                                            "email"       : token.email,
                                            "zipCode"     : getUrlParameter('zipCode')
                                        }),
                                    });

                                }
                            });

                            $('#customButton').on('click', function(e) {
                                // Open Checkout with further options
                                var restaurant_name = "{{restaurant_name}}";
                                var total_amount = "{{total_money}}";
                                handler.open({
                                    name: restaurant_name,
                                    description: "Billing",
                                    zipCode: true,
                                    amount: total_amount
                                    //amount: getUrlParameter('amount')
                                });
                                e.preventDefault();
                            });

                            $('#customButton').click();

                            // Close Checkout on page navigation
                            $(window).on('popstate', function() {
                                handler.close();
                            });

</script>

</body>
</html>