<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Checkout</title>
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
         {% load static %}
        <link rel="stylesheet" href="{% static 'canteen/bulma/css/bulma.css' %}" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript">
                            // this identifies your website in the createToken call below
            Stripe.setPublishableKey('pk_test_IeVp9JEk39LS8IJcRGjm9Ter');
            function stripeResponseHandler(status, response) {
                if (response.error) {
                    // re-enable the submit button
                    $('.button').removeAttr("disabled");
                    // show the errors on the form
                    $(".payment-errors").html(response.error.message);
                } else {
                    var form$ = $("#payment-form");
                    // token contains id, last4, and card type
                    var token = response['id'];
                    // insert the token into the form so it gets submitted to the server
                    form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
                    // and submit
                    form$.get(0).submit();
                }
            }
            $(document).ready(function() {
                $("#payment-form").submit(function(event) {
                    // disable the submit button to prevent repeated clicks
                    $('.button').attr("disabled", "disabled");
                    // createToken returns immediately - the supplied callback submits the form if there are no errors
                    Stripe.createToken({
                        number: $('.card-number').val(),
                        cvc: $('.card-cvc').val(),
                        exp_month: $('.card-expiry-month').val(),
                        exp_year: $('.card-expiry-year').val()
                    }, stripeResponseHandler);
                    return false; // submit from callback
                });
            });
        </script>
    </head>
    <body>
      <section class="hero is-black">
        <!-- Hero header: will stick at the top -->
        <div class="hero-head">
          <header class="nav">
            <div class="container">
              <div class="nav-item">
                <a class="title" href="">
                  <strong>Checkout</strong>
                </a>
              </div>
              <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <div class="nav-right nav-menu">
                <span class="nav-item">

                </span>
              </div>
            </div>
          </header>
        </div>

        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title is-1">
              <strong>Thanks for visiting us!</strong>
              <div class="subtitle is-4">
                <br>
                Complete the following form to place the order
              </div>
            </p>
            <h2 class="subtitle">
            </h2>
          </div>
        </div>
    </section>

    <div class="container">
        <!-- to display errors returned by createToken -->
        <br>
        <span class="payment-errors"></span>
        <form action="" method="POST" id="payment-form">
            <div class="form-row">
                <label>Card Number</label>
                <input type="text" size="20" autocomplete="off" class="card-number" />
            </div>
            <div class="form-row">
                <label>CVC</label>
                <input type="text" size="4" autocomplete="off" class="card-cvc" />
            </div>
            <div class="form-row">
                <label>Expiration (MM/YYYY)</label>
                <input type="text" size="2" class="card-expiry-month"/>
                <span> / </span>
                <input type="text" size="4" class="card-expiry-year"/>
            </div>
            <button type="submit" class="submit-button">Submit Payment</button>
        </form>
    </div>
<br>
<script src="https://checkout.stripe.com/checkout.js"></script>
<button id="customButton">Purchase</button>

    <script type="text/javascript">

      var handler = StripeCheckout.configure({
        key: 'pk_test_IeVp9JEk39LS8IJcRGjm9Ter',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        handler.open({
          name: 'Demo Site',
          description: '2 widgets',
          amount: 2000
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        handler.close();
      });
      </script>
    </body>
</html>